@import './mixins.scss';

@import './variables.scss';

@import './builder.scss';

@import './saved-lists.scss';

@import './plugins.scss';

@import './debug.scss';

.wccon-builder-wrapper {
	button:focus {
		outline: 0;
	}
	button:hover {
		box-shadow: none;
	}
	.wccon-widget ul,.wccon-dropdown-select ul {
		padding: 0;
		margin:0;
	}
	.wccon-group-row h3 {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.wccon-scrl-container	{
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: var(--wccon-primary-scroll) #F2F2F2;
	-ms-overflow-style: -ms-autohiding-scrollbar;	
}

.wccon-scrl-grey	{
	height: 100%;
	overflow: auto;
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: var(--wccon-secondary-scroll) #f2f2f2;
}

.wccon-scrl-container::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	background: #F2F2F2;
}
.wccon-scrl-grey::-webkit-scrollbar	{
	width: 5px;
	height: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	background: #F2F2F2;	
}


.wccon-scrl-container::-webkit-scrollbar-thumb {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	background: var(--wccon-primary-scroll);
}

.wccon-scrl-grey::-webkit-scrollbar-thumb	{
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	background: var(--wccon-secondary-scroll);
}

/** Storefront underline remove */
.woocommerce-account.wccon-page-builder .wccon-builder-wrapper a, .wccon-page-builder .wccon-builder-wrapper a, .wccon-page-builder .entry-content .wccon-builder-wrapper a {
	text-decoration: none;
}

.woocommerce-account .woocommerce-MyAccount-content .wccon-pagination a, .wccon-page-builder .wccon-builder-wrapper .wccon-pagination a {
	text-decoration: none;
}

/** Kadence compatibility **/
body.theme-kadence {
	.wccon-product-rating {
		.star-rating {
			line-height: 1;
			font-size: 1em;
			height: 1em;
			width: 5em;
			font-family: "star";
			letter-spacing: normal;
			word-break: normal;
			white-space: normal;
			// font-family: ???;
			span {
				overflow: hidden;
				float: left;
				top: 0;
				left: 0;
				position: absolute;
				padding-top: 1.5em;
			}
			span::before {
				content: "\e901\e901\e901\e901\e901";
				color: #ffd700;
				
				top: 0;
				position: absolute;
				left: 0;
			}
			
		}
		.star-rating::before {
			content: "\e900\e900\e900\e900\e900";
			color: var(--global-gray-400);
			
			top: 0;
			left: 0;
			position: absolute;
		}

	}


}

@media (max-width: 998px) {
	body.theme-kadence {
		.wccon-component-product {
			&__title {
				font-size: 12px;
			}
		}
		.wccon-component {
			&__choose {
				font-size: 14px;
			}
			&__collapse {
				font-size: 14px;
			}
			&__expand {
				font-size: 14px;
			}
		}
	}

	body.theme-kadence.kadence-account-nav-left.woocommerce-account .account-navigation-wrap {
		float:none;
		width: 100%;
		margin-bottom: 1.5em;
	}
	body.theme-kadence.kadence-account-nav-left.woocommerce-account .woocommerce-MyAccount-content {
		float:none;
		width: 100%;
		padding-left: 0;
	}
}


