:root {
	--wccon-main-color: #1E93E0;
	--wccon-main-color-light: #ddebff;
	--wccon-main-color-light2: #9AC7E4;
	--wccon-main-color-dark: #0a78c0;
	--wccon-main-color-dark2: #0068AD;;
	--wccon-main-color2: #28a1f2;
	--wccon-primary-scroll: #62B3E9;
	--wccon-secondary-scroll: #747373;
	--wccon-secondary-color: #B2B2B2;
	--wccon-danger-color-light: #FF6660;
	--wccon-danger-color: #FB3333;
	--wccon-text-color: #303030;
	--wccon-skeleton-color: #d9d9d9;
	--wccon-skeleton-color-to:rgba(0,0,0,0.05);
	--wccon-widget-height: 125px;
	--wccon-widget-list-height: 200px;
	--wccon-widget-body-height: 230px;
}